body {
    color: var(--tls-white);
    padding: 5vh;
}

.titel {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 25px;
    padding: 3vh;
    font-size: 9.5vh;
    font-family: BlueWinter;
    text-align: center;
}

.result {
    background-color: var(--tls-purple);
    font-family: QuicksandBold;
    font-size: 5vh;
    border-radius: 25px;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 1.5vh;
    padding: 3vh;
    display: flex;
    justify-content: space-between;
}

.winner {
    display: flex;
    justify-content: flex-start;
}

.winner .score {
    margin-right: 10vh;
}

.loser {
    display: flex;
    justify-content: flex-end;
}

.loser .score {
    margin-left: 10vh;
}