@font-face {
    font-family: "Dosis";
    src: url("../../RessourcesTLS/common/Fonts/dosis-semibold_[fr.allfont.net].ttf");
}

@font-face {
font-family: "Gobold";
src: url("../../RessourcesTLS/common/Fonts/Gobold\ Regular.otf");
}

.stat_line {
    background-color: var(--tls-purple);
    position: absolute;
    width: 100%;
    height: 10%;
}

.yellow_bar {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--tls-yellow);
}

.stat_text {
    font-family: "Gobold";
    font-size: 400%;
    position: absolute;
    z-index: 10;
    width: 100%;
    mix-blend-mode:exclusion;
    color: var(--tls-yellow);
}