:root {
    --shadow-size: 4px;
}

.bg {
    justify-content:flex-start;
    gap: 0px;
}

.multi .character_container {
    background: transparent;
    position: relative;
    top: 0px;
}

.character_container {
    height: 200px;
}

.camera_place {
    height: 300px;
}

.flags_container {
    top: 278px;
}

.pronoun {
    top: 278px;
}

.player.container {
    background: transparent;
}

/*
.tsh_character {
    filter: drop-shadow(10px 10px 0 black) drop-shadow(-1px -1px 0 black);
}
*/

.left .tsh_character {
    filter: 
        drop-shadow(calc(var(--shadow-size)) 0px 0px var(--tls-purple)) 
        drop-shadow(0px calc(var(--shadow-size)) 0px var(--tls-purple)) 
        drop-shadow(calc(var(--shadow-size) * -1) -0px 0px var(--tls-purple)) 
        drop-shadow(-0px calc(var(--shadow-size) * -1) 0px var(--tls-purple));
}

.right .tsh_character {
    filter: 
        drop-shadow(calc(var(--shadow-size)) 0px 0px var(--tls-yellow)) 
        drop-shadow(0px calc(var(--shadow-size)) 0px var(--tls-yellow)) 
        drop-shadow(calc(var(--shadow-size) * -1) -0px 0px var(--tls-yellow)) 
        drop-shadow(-0px calc(var(--shadow-size) * -1) 0px var(--tls-yellow));
}

.info.free {
    position: absolute;
    width: 272px;
    height: 30px;
    left: 16px;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    background-position: center;
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 22px;
}

.info.free.top {
    height: 40px;
    top: 740px;
    font-size: 26px;
}

.info.free.phase {
    height: 40px;
    top: 790px;
    font-size: 26px;
}

.info.free.match {
    height: 40px;
    top: 840px;
    font-size: 26px;
}