body {
  font-family: Dosis;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

#casters_container {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
}

#caster_names_container {
  display: block;
  height: 50px;
}

.caster_name {
  display: block;
  height: 50%;
  font-size: 23px;
  color: #717171;
}

.float_child {
  float: left;
}

.anim_container_outer {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.anim_container_inner {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.container {
  position: absolute;
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  /*border-radius: var(--border-radius);
  background: #ff00ff;*/
  align-items: center;
}

.p1.container > div:not(:last-child) {
  margin-right: 8px;
}

.p1.container > div:first-child {
  margin-left: 8px;
}

.p2.container > div:not(:last-child) {
  margin-left: 8px;
}

.p2.container > div:first-child {
  margin-right: 8px;
}

.player.container {
  width: 450px;
  height: 50px;
  top: 45px;
}


.p1.container {
  background-position: 100% 0;
  left: 345px;
  flex-direction: row;
}

.p2.container {
  background-position: 0 0;
  right: 340px;
  flex-direction: row-reverse;
}

.name_twitter {
  display: flex;
  width: 330px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  text-align: top;
  position: absolute;
}

.chips {
  display: flex;
  position: absolute;
  top: 112px;
  width: 500px;
  height: 24px;
  justify-content: right;
  align-content: center;
  overflow: hidden;
}

.chip {
  overflow: hidden;
  border-radius: calc(var(--border-radius) / 2);
}

.p1.chips {
  left: 380px;
}

.p2.chips {
  flex-direction: row-reverse;
  left: 1040px;
  justify-content: left;
}

.chip .text:not(.text_empty) {
  margin-left: 4px;
  margin-right: 4px;
  height: 24px;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: calc(var(--border-radius) / 2);
  min-width: unset;
}

.p1 .name_twitter {
  top: 5px;
  left: 66px;
}

.p2 .name_twitter {
  top: 5px;
  left: 44px;
}

.name {
  color: black;
}

.name_twitter .name {
  font-size: 28px;
}

.name_twitter .twitter {
  font-size: 16px;
}

.p2 .extra {
  flex-direction: row-reverse;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.light .twitter_logo {
  filter: invert(1);
}

.logos {
  bottom: 40px;
  left: 865;
}

.info.container {
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 20px;
}

.info.container_inner {
  display: flex;
  width: 100%;
  font-size: inherit;
  justify-content: space-around;
}

.info.container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.container.top {
  bottom: 8px;
  left: 774px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 36px;
  padding: 8px 8px;
  color: var(--tls-yellow);
  z-index: 10;
}

.tournament_name {
  font-size: 18px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.info.container.bottom {
  top: 125px;
  left: 872px;
  display: flex;
  justify-content: center;
  height: unset;
  flex-direction: column;
  width: 180px;
  height: 64px;
  font-size: 60px;
  padding: 4px 10px;
  color: black;
}

#bestof {
  top: 72px;
  left: 837px;
  width: 220px;
  justify-content: center;
  color: var(--tls-yellow); 
  position: absolute;
  font-size: 20px;
}

.phase {
  font-size: 14px;
  letter-spacing: 2px;
  width: 100%;
}

.match {
  font-size: 35px;
  letter-spacing: 2px;
  width: 100%;
}

.bblue .info.container.bottom {
  top: 180px;
  bottom: unset;
}

.icon,
.flagcountry,
.flagstate {
  display: flex;
  justify-content: center;
}

.icon .text:not(.text_empty) {
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.thin .icon {
  border-radius: 8px;
}

.tsh_character {
  overflow: hidden;
}

.icon div:not(.text) {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*ackground-color: #3f3f46;*/
}

.flags_container {
  display: flex;
  flex-direction: column;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 22px;
  border-radius: 8px;
}

.ssbu .flagstate .text div {
  margin-top: 4px;
}

.sponsor_icon > div > div {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius);
}

.character_container {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  width: auto;
  align-items: center;
}

.p1 .character_container {
  left: 0px;
}

.p2 .character_container {
  right: 7px;
}

.character_container > div {
  overflow: hidden;
  height: 48px;
  width: 48px;
}

.character_container > div > div {
  overflow: hidden;
  height: 48px;
  display: flex;
  align-items: center;
}

.character_container > div > div:not(:last-child) {
  margin-right: 4px;
}

.score {
  width: 64px;
  height: 50px;
  font-size: 28px;
  color: black;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: -8px;
  position: absolute;
  top: 42px;
}

.p1.score {
  left: 766px;
}

.p2.score {
  right: 775px;
}

.pronoun {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: auto;
  margin-left: 6px;
  letter-spacing: normal;
  margin-bottom: 4px;
}

.p1 .score {
  color: var(--tls-purple);
  /*background: var(--tls-yellow);*/
}

.sponsor {
  margin-right: 6px;
}

.sponsor {
  color: var(--text-color);
}

.pronoun {
  color: var(--text-color);
}

.p2 .score {
  color: var(--tls-purple);
  /*margin-left: -8px;
  margin-right: 0;*/
  /*background: var(--p2-score-bg-color);*/
}

.losers {
  display: inline-flex;
  width: 22px;
  height: 22px;
  font-size: 18px;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.p1 .losers {
  background: #ff3837ff;
}

.p2 .losers {
  background: #308affff;
}

.league_team {
  position: absolute;
  top: 90px;
  width: 180px;
  height: 30px;
  background-color: var(--tls-purple);
  clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 10px 100%);
  font-size: 15px;
  color: white;
  padding-top: 2px;
  justify-content: center;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.p1.league_team {
  left: 344px;
}

.p2.league_team {
  right: 372px;
}

.team_name {
  margin-left: 1ch;
  color : var(--tls-yellow)
}

#next_set {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-52%);
  width: 700px;
  height: 50px;
  clip-path: polygon(0 0, calc(50% - 186px) 0, calc(50% - 176px) 10px, calc(50% + 176px) 10px, calc(50% + 186px) 0, 100% 0, calc(100% - 30px) 100%, 30px 100%);
  background-color: grey;
  text-align: center;
  color: var(--tls-yellow);
  font-size: 25px;
  padding-top: 10px;
}
