:root {
    --fp-white: #ffffff;
    --fp-black: #000000;
    --fp-orange: #a53c28;
    --fp-green: #008b57;
}

@font-face {
    font-family: "Playfair";
    src: url("../../../Assets/FairPlay/Fonts/PlayfairDisplay.ttf");
}

@font-face {
    font-family: "Playfair Italic";
    src: url("../../../Assets/FairPlay/Fonts/PlayfairDisplay-Italic.ttf");
}

@font-face {
    font-family: "Bricolage";
    src: url("../../../Assets/FairPlay/Fonts/bricolageGrotesque.ttf");
}

body {
    font-family: Bricolage;
    opacity: 0;
    overflow: hidden;
    margin: 0;

    background-color: yellow;
}

.logos {
    position: absolute;
    bottom: 40px;
    left: 865;
}

.p1.name {
    left: 545px;
    color: var(--fp-orange);
}

.p2.name {
    right: 545px;
    color: var(--fp-green);
}

.name {
    position: absolute;
    top: 39px;
    width: 378px;
    height: 78px;

    font-size: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    text-transform: uppercase;

    font-weight: bold;
}

.pronoun {
    position: absolute;
    bottom: 39px;
    width: 256px;
    height: 44px;

    font-weight: bold;
    font-size: 30px;
}

.p1.pronoun {
    left: 65px;
    color: var(--fp-orange);
    
}

.p2.pronoun {
    right: 65px;
    color: var(--fp-green);
}

.score {
    position: absolute;
    top: 46px;
    width: 65px;
    height: 65px;

    font-size: 70px;
    font-family: "Playfair Italic";
    font-weight: bolder;

    color: white;

    line-height: 50px;
    padding-bottom: 20px;

    box-sizing: border-box;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.12))
    drop-shadow(0 6px 2px rgba(0, 0, 0, 0.14))
    drop-shadow(0 2px 6px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -2px 4px rgba(0, 0, 0, 0.1));
}

.p1.score {
    left: 456px;
}

.p2.score {
    right: 456px;
}

.bottom-info {
    position: absolute;
    top: 134px;

    height: 42px;
    width: 389px; 
    
    box-sizing: border-box;

    padding-left: 25px;
    padding-right: 25px;

    font-size: 26px;
    font-family: "Playfair Italic";
    font-weight: bold;
}

.match-info {
    right: 543px;
}

.casters_container {
    left: 545px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#caster_names_container {
    max-width: 100%;
}

.casters_separator {
    margin-left: 10px;
    margin-right: 10px;
}

.mic_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  mask-image: url(../commentators/icon_mic.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background: black;
  margin-top: 5px;
  flex-shrink: 0;
}