:root {
    --fp-white: #ffffff;
    --fp-black: #000000;
    --fp-orange: #a53c28;
    --fp-green: #008b57;
}

@font-face {
    font-family: "Playfair";
    src: url("../../../Assets/FairPlay/Fonts/PlayfairDisplay.ttf");
}

@font-face {
    font-family: "Playfair Italic";
    src: url("../../../Assets/FairPlay/Fonts/PlayfairDisplay-Italic.ttf");
}

@font-face {
    font-family: "Bricolage";
    src: url("../../../Assets/FairPlay/Fonts/bricolageGrotesque.ttf");
}

body {
    font-family: Bricolage;
    overflow: hidden;
    margin: 0;
}

.nameee {
    position: absolute;
    top: 1165px;
    width: 507px;
    height: 96px;

    font-family: Bricolage;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

.p1.nameee {
    left: 731px;
    color: var(--fp-orange);
}

.p2.nameee {
    left: 1323px;
    color: var(--fp-green);
}

.score {
    position: absolute;
}

.info {
    position: absolute;
}

.match {
    position: absolute;
    top: 60px;
    left: 726px;
    width: 1109px;
    height: 121px;

    font-family: "Playfair Italic";
    font-weight: bolder;
    color: white;
    font-size: 75px;


    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.score {
    position: absolute;

    top: 1166px;
    width: 84px;
    height: 88px;

    font-family: "Playfair Italic";
    font-weight: bolder;
    color: white;
    font-size: 75px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.p1.score {
    left: 609px;
}

.p2.score {
    left: 1867px;
}