body {
    color: var(--light-text);
    font-family: Gobold;
    display: flex;
    flex-direction: row;
    gap: 15vh;
    align-items: center;
}

#time {
    font-size: 80vh;
}

.clock {
    height: 80vh;
}