@font-face {
  font-family: "Smash";
  src: url("../../RessourcesTLS/FunkyStocks/Fonts/Dosis-Bold.ttf");
}

body {
  font-family: "Smash";
  color: black;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
}

.container {
  width: 350px;
  height: 38px;
  position: absolute;
  color: var(--text-color);
  z-index: 9;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.container .bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(24px 0%, 100% 0%, calc(100% - 24px) 100%, 0% 100%);
}

.container .bg > div {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    27px 4px,
    calc(100% - 46px) 4px,
    calc(100% - 66px) calc(100% - 4px),
    7px calc(100% - 4px)
  );
}

.container.t1 .bg {
}

.container.t2 .bg {
}

.doubles .container {
  transform: scaleX(0.9);
}

.singles .t1.p1.container {
  left: 467px;
  top: 997px;
}

.singles .t2.p1.container {
  left: 1207px;
  top: 997px;
}

.doubles .t1.p1.container {
  left: 76px;
  top: 48px;
}

.doubles .t1.p2.container {
  left: 413px;
  top: 48px;
}

.doubles .t2.p1.container {
  left: 1158px;
  top: 48px;
}

.doubles .t2.p2.container {
  left: 1515px;
  top: 48px;
}

.container .name {
  color: black;
  position: absolute;
  left: 30px;
  top: 2px;
  width: 290px;
  height: 34px;
  font-size: 35px;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: left;
  text-transform: uppercase;
}

.twitter-container {
  z-index: -1;
  top: 20px;
  left: 120px;
  width: 238px;
  height: 49px;

  position: absolute;
  color: var(--text-color);
  clip-path: polygon(30px 0%, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
}

.twitter {
  position: absolute;
  left: 26px;
  top: 22px;
  width: 170px;
  height: 20px;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter_logo {
  -webkit-mask-image: url(./twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  flex-shrink: 0;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 8px;
  flex-grow: 0;
}

.t1 .sponsor {
  color: var(--p1-sponsor-color);
}

.t2 .sponsor {
  color: var(--p2-sponsor-color);
}

.flag {
  display: inline-block;
  width: 38px;
  height: 26px;
  border: 2px solid white;
  border-radius: 10px;
}

.flagcountry {
  position: absolute;
  top: 6px;
  left: -80px;
}

.flagstate {
  position: absolute;
  top: 38px;
  left: -62px;
}

.score {
  position: absolute;
  width: 30px;
  height: 34px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 28px;
  top: 1px;
  right: 1px;
  color: black;
}

.sponsor-container {
  position: absolute;
  top: 2px;
  height: 34px;
  width: 34px;
  left: 246px;
  overflow: hidden;
  display: flex;
}

.sponsor-logo {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  overflow: hidden;
}

.material_container {
  position: absolute;
  color: var(--text-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.info.material_container {
  color: var(--text-color);
  padding: 8px 16px;
  background-position: center;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 22px;
}

.info.material_container_inner {
  display: flex;
  width: 100%;
  font-size: inherit;
  flex-direction: column;
}

.info.material_container_inner > div {
  flex-shrink: 0;
  text-align: center;
}

.info.material_container.middle {
  left: 16px;
  top: 16px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.info.material_container.middle .info {
  left: 16px;
  top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  text-align: justify;
  align-items: center;
  overflow: hidden;
  margin: 0 24px;
  gap: 2px;
}

.tournament_name {
  bottom: 8px;
  left: 774px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 36px;
  padding: 8px 8px;
  color: var(--tls-yellow);
  z-index: 10;
  font-size: 18px;
  overflow: hidden;
}

.info.material_container.middle .phase {
  width: 100%;
  font-size: 16px;
  letter-spacing: 4px;
}

#match {
  position: absolute;
  top: 135px;
  left: 875px;
  width: 180px;
  height: 40px;
  font-family: "Smash";
  color: black;
  font-size: 40px;
}

.info.doubles.material_container {
  top: 16px;
  width: 360px;
  height: 66px;
  padding: 10px;
  gap: 10px;
}

.info.doubles.material_container .team_name {
  width: 282px;
  padding: 0 6px;
  box-sizing: border-box;
}

.t1.material_container {
  left: 580px;
}

.t2.material_container {
  left: unset;
  right: 580px;
  flex-direction: row-reverse;
}

.doubles_score {
  top: 0px;
  left: -500px;
  width: 48px;
  height: 100%;
  font-size: 38px;
  color:black;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.doubleScore {
  position: absolute;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 30px;
}

#t1Score {
  color: black;
  top: 52px;
  left: 783px;
}
#t2Score {
  color: black;
  top: 52px;
  left: 1107px;
}
